
.placeorderLeft .multiInput{
    display: flex;
    width: 100%;
    margin: 10px 0px;
    gap: 5px;
}
.place-order{
  margin-top: 50px;
    display: flex;

    justify-content: space-between;
}

input{
  border-radius: 5px;
}
.hr{
  width: 90%;
}
@media (max-width:770px) {
 .place-order{
  display: flex;
  flex-direction: column;
  margin: 10px ;
 }
 .placeorderLeft .multiInput input{
  display: flex;
  flex-direction: column;
      

}

 .placeorderLeft .multiInput input{
 width: 50%;
  
}
.place-order .palceorderRight{
  display: flex;
  justify-content: center;
 align-items: center;


}
.place-order  button{
width: fit-content;
padding: 10px 15px;
}
.palceorderRight{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
  border-radius: 10px;
  }
  .placeorderLeft{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 5px;
  }
}



