.foodItems {
  width: 90%;
  margin: auto;
  border-radius: 15px;
height: 100%;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
 rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
 rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 transition: 0.2s;
 
}

.activeText{
  font-size: 1.3rem;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
     rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   border-radius: 50%;
   margin-top: 5px;
}
.activeimage{
  border: 2px solid rgb(255, 0, 0);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.catagiry img{
  width: 130px;
  height: 130px ;
  border-radius: 50%;
}
.catagiry{
  display: flex;
  justify-content: center;
  gap: 50px ;
  align-items: center;
  text-align: center;
}
.foodItems .firmimage img {
  width: 100%;
  height: 230px;
  /* display: block; */
  margin: 0 auto;
  border-radius: 15px 15px 0 0;
}
.foodItems:hover{
    width: 100%;
    background-color: rgb(87, 86, 86);
    
}
.foodItems:hover .firmName,
.foodItems:hover .firmAddress,
.foodItems:hover .offer{
  color: white;
}
h3 {
  font-size: max(1vw, 24px) !important;
}
.link {
  text-decoration: none;
}
.firmdetails .firmName {
  color: rgb(1, 0, 0);
  font-weight: 700;
  font-size: 1.4rem;
}
.firmdetails .firmAddress {
  color: rgb(84, 83, 83);
}

.firmgrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  padding: 0 60px;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
}
.foodItems .firmdetails {
  width: 100%;
  /* display: block; */
  margin: 0 auto;
  flex-grow: 1;
  padding:2px 15px;
}
.offer{
    font-size:auto;
    color: rgb(5, 0, 0);
    font-weight: 500;
}
.firmAddress{
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
}
@media (max-width:320px){
  .firmgrid {
     padding: 0 10px;
  }
  .foodItems .firmimage img {
      height: 180px;
    }
   
}
@media (min-width:320px) and (max-width:768px){
  .firmgrid {
  /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */
  grid-template-columns: repeat((4, 1fr));
  padding: 0 10px;
  gap: 10px;
  
}
.foodItems .firmimage img {
  height: 180px;
}



}
@media (min-width:768px) and (max-width:1056px){
  .firmgrid {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 0 10px;
  gap: 10px;
  
}
}
@media (max-width:426px){
  .catagiry img{
    width: 14vw;
    height: 14vw ;
 
  }
  .catagiry{
   gap: 15px;
    font-size: smaller;
  
   }
   .activeimage{
      height: 35px;
      width: 35px;
   }
   .activeText{
    font-size: smaller;
   }
}
@media(min-width:426px) and (max-width:880px){
  .catagiry img{
    width: 14vw;
    height: 14vw ;
 
  }
  .catagiry{
   gap: 30px;
    font-size: smaller;
  
   }
   .activeimage{
      height: 35px;
      width: 35px;
   }
   .activeText{
    font-size: smaller;
   }
}